<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="InTheHand.Net.Personal">
      <section name="BluetoothFactory" type="InTheHand.Net.Bluetooth.BluetoothFactorySection, InTheHand.Net.Personal" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BumperServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BumperServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- -->
  <InTheHand.Net.Personal>
    <BluetoothFactory reportAllErrors="false" oneStackOnly="true" />
  </InTheHand.Net.Personal>
  <!-- -->
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <BumperServer.Properties.Settings>
      <setting name="PhoneBumperGuid" serializeAs="String">
        <value>a0000000-a000-a000-a000-a00000000000</value>
      </setting>
      <setting name="CompressionLevel" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CompactScale" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="ClosestObjectRange" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SimulateKinect" serializeAs="String">
        <value>False</value>
      </setting>
    </BumperServer.Properties.Settings>
  </applicationSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\jhincapie\Desktop\PhoneBumper\PhoneBumperLogs\PhoneBumper.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <userSettings>
    <BumperServer.Properties.Settings>
      <setting name="UseCompression" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerateAll" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BumperHeight" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="VerticalFlip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FrameWindowBorder" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="VisualAlertSide" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="VisualAlertDistance" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="BumperDistanceFromTop" serializeAs="String">
        <value>165</value>
      </setting>
      <setting name="VisualAlerts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Brightness" serializeAs="String">
        <value>25</value>
      </setting>
    </BumperServer.Properties.Settings>
  </userSettings>
</configuration>